body{
	background-color: black;
	height: 4890px;
	font-family: Calibri;}
.box{
	position: absolute;
	left: 0px;
	top: 1432px;
	width: 100%;
	height: 400px;
	background: #FFFFFF;}
.box1{
	position: absolute;
	width: 100%;
	height: 400px;
	left: 0px;
	top: 3374px;
	background: #FFFFFF;}
.ellipse {
	position: absolute;
	width: 660px;
	height: 180px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	top: 2548px;
	background: #FFFFFF;
	border-radius: 300px;}
.ellipse1 {
	position: absolute;
	width: 900px;
	height: 180px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 4500px;
	background: #FFFFFF;
	border-radius: 300px;}
.title {
	position: absolute;
	width: 250px;
	height: 86px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 210px;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
	color: #FFFFFF;}
.title1 {
	position: absolute;
	width: 880px;
	height: 86px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 296px;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 88px;
	text-align: center;
	color: #FFFFFF;}
.pravki {
	position: absolute;
	width: 872px;
	height: 100px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 538px;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #FFFFFF;}
.forwhat {
	position: absolute;
	width: 872px;
	height: 212px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 738px;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #FFFFFF;}
.questions {
	position: absolute;
	width: 876px;
	height: 68px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 1106px;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 88px;
	text-align: center;
	color: #FFFFFF;}
.question {
	position: absolute;
	width: 472px;
	height: 108px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 1988px;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	line-height: 63px;
	text-align: center;
	color: #FFFFFF;}
.answer {
	position: absolute;
	width: 880px;
	height: 228px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 2196px;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 63px;
	text-align: center;
	color: #FFFFFF;}
.question1 {
	position: absolute;
	width: 552px;
	height: 100px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 2880px;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #FFFFFF;}
.answer1 {
	position: absolute;
	width: 519px;
	height: 100px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 3081px;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #FFFFFF;}
.question2 {
	position: absolute;
	width: 880px;
	height: 108px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 3998px;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	line-height: 63px;
	text-align: center;
	color: #FFFFFF;}
.answer2 {
	position: absolute;
	width: 880px;
	height: 168px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 4206px;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 63px;
	text-align: center;
	color: #FFFFFF;}
.spit {
	position: absolute;
	width: 180px;
	height: 168px;
	left: -151px;
	right: 0px;
	margin: 0 auto;	
	top: 3465px;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	line-height: 61px;
	text-align: center;
	color: #000000;}
.img1 {
	position: absolute;
	width: 400px;
	height: 320px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 1472px;}
.img2 {
	position: absolute;
	width: 600.44px;
	height: 112px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	;
	top: 2582px;}
.img3 {
	position: absolute;
	width: 320px;
	height: 320px;
	left: 356px;
	right: 0px;
	margin: 0 auto;	
	top: 3368px;;
	transform: rotate(20.35deg);}
.img4{
	position: absolute;
	width: 820px;
	height: 112px;
	left: 0px;
	right: 0px;
	margin: 0 auto;	
	top: 4534px;}
left: 0px;
right: 0px;
margin: 0 auto;	